<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/custom.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<title>Sign-Up</title>
	</head>
	<body>
		<header>
			<div>
				<h1 class="text-center" style="font-family: 'Lobster', cursive;"> Sign-Up </h1>
			</div>
			<hr>
		</header>
		<article>
			<div class="text-center">
				<img class="logo" style="width:25%" src="https://www.jappleng.com/application/assets/jspot/images/hd/megumin-c255221419201846.png">
			</div>
			<div class="row justify-content-center align-items-center text-center" style="height: fit-content">
				<Form>
					<p>~~~~~~~~~ Fill in your details below ~~~~~~~~~</p>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" placeholder="senpai">
					</div>
					<div class="form-group">
						<label for="surname">Surname</label>
						<input type="text" class="form-control" id="surname" placeholder="kohai">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" placeholder="sensei">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" placeholder="secrets">
					</div>
					<div class="form-group">
						<label for="cpassword">Password Confirm</label>
						<input type="password" class="form-control" id="cpassword" placeholder="tell me your secrets again">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</Form>
			</div>
		</article>
		<footer>
			<hr>
			<div>
				<h1 class="text-center" style="font-family: 'Lobster', cursive;"> Endless Horizon </h1>
			</div>
		</footer>
	</body>
</html>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
